
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 96%;
    width: 96%;
    border-radius: 20px;
    box-shadow: 0px 1px 5px;
    background-color: #a9c2c9;

}

.left-login {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.right-login {
    width: 48%;
    height: 96%;
    max-width: 700px;
    min-width: 400px;
    background: #562155;
    box-shadow: 0 0 7px;
    border-radius: 20px;
}

.right2-login {
    width: 30px;

}
